*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height: 45vh;
    color: rgb(51, 0, 128);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.676), white);
}

#fora{
    position: relative;
}

header section h1{
    font-weight: bolder;
    font-size: 6.5vw;
}

header section p{
    font-size: 1.3vw;
    text-align: center;
}

header section p a{
    color: rgb(51, 0, 128);
    font-weight: bold;
    text-decoration: none;
}

#dentro{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 1200px) {

    header section p{
        font-size: 1.3vw;
    }
}

@media (min-width: 400px) {

    header section p{
        font-size: 3vw;
    }
}
